@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Food Advisor is a web-based application with a sole goal of helping you manage and choose your meals based on a plethora of options. We hope you find it at least mildly useful.</p>
</div>